@layer form {
    .form-control {
        border-radius: .25rem;
        background-color: var(--app-input-bg);

        &:focus {
            border-color: var(--app-color-brand);
            box-shadow: var(--focus-box-shadow);
        }
    }

    .form-check-input {
        --bs-form-check-bg: var(--app-input-bg);

        &:checked {
            background-color: var(--app-color-brand);
            border-color: var(--app-color-brand);
        }

        &:focus {
            border-color: var(--app-color-brand);
            box-shadow: var(--focus-box-shadow);
        }
    }

    .form-floating>.form-control-plaintext~label::after,
    .form-floating>.form-control:focus~label::after,
    .form-floating>.form-control:not(:placeholder-shown)~label::after,
    .form-floating>.form-select~label::after {
        background-color: var(--bs-white);
    }
}

@media (min-width: 768px) {
    .signup {   
        border-left: 8px var(--app-color-brand) solid;
    }
}