@layer bootstrap, theme;

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css') layer(bootstrap);

@layer theme {
    [data-bs-theme=light] {
        --app-body-bg: #F1F2F5;  
        --app-card-bg: var(--bs-white);
    }

    [data-bs-theme=dark] {
        --app-body-bg: #121212;
        --app-card-bg: #222;
    }

    :root {
        --font-brand: "Figtree", sans-serif;
        --color-brand: #7440F3;
        --color-brand-rgb: 116, 64, 243;
        --color-brand-hover-rgb: 56, 24, 136;

        /* Overwrite Bootstrap variables */
        --bs-body-bg: var(--app-body-bg);
        --bs-primary: var(--color-brand);
        --bs-primary-rgb: var(--color-brand-rgb);
        --bs-font-sans-serif: var(--font-brand);
        --bs-border-radius: 1.25rem;
        --bs-box-shadow: 0px 1px 1px rgba(25, 10, 67, 0.02),
            0px 5px 4px rgba(25, 10, 67, 0.03),
            0px 12px 9px rgba(25, 10, 67, 0.05),
            0px 20px 15px rgba(25, 10, 67, 0.06),
            0px 32px 24px rgba(25, 10, 67, 0.08);

        
        --bs-link-color: var(--color-brand);
        --bs-link-color-rgb: var(--color-brand-rgb);
        --bs-link-hover-color-rgb: var(--color-brand-hover-rgb);
    }

    h1, .h1, 
    h2, .h2 {
        letter-spacing: -.0625rem;
    }

    h1, .h1 {
        font-weight: 600;
    }

    .btn {
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-padding-y: .75rem;
        --bs-btn-border-radius: .75rem;
    }

    .btn-sm {
        --bs-btn-padding-x: 1rem;
        --bs-btn-padding-y: .5rem;
    }

    .btn-primary {
        --hover-color: hsl(from rgb(var(--color-brand-rgb)) h calc(s - 8) calc(l - 8));

        --bs-btn-bg: var(--color-brand);
        --bs-btn-border-color: var(--color-brand);
        --bs-btn-hover-bg: var(--hover-color);
        --bs-btn-hover-border-color: var(--hover-color);
        --bs-btn-active-bg: var(--hover-color);
        --bs-btn-active-border-color: var(--hover-color);
    }

    .btn-outline-primary {
        --hover-color: hsl(from rgb(var(--color-brand-rgb)) h calc(s - 8) calc(l - 8));

        --bs-btn-color: var(--color-brand);
        --bs-btn-border-color: var(--color-brand);
        --bs-btn-hover-bg: var(--hover-color);
        --bs-btn-hover-border-color: var(--hover-color);
        --bs-btn-active-bg: var(--color-brand);
        --bs-btn-active-border-color: var(--color-brand);
        --bs-btn-disabled-color: var(--color-brand);
        --bs-btn-disabled-border-color: #var(--color-brand)
    }

    .card {
        --bs-card-bg: var(--app-card-bg);
        --bs-card-spacer-y: 2.5rem;
        --bs-card-spacer-x: 2.5rem;
    }

    .dropdown-menu {
        --bs-dropdown-min-width: 14rem;
        --bs-dropdown-border-radius: 0;
        --bs-dropdown-padding-x: 0;
        --bs-dropdown-padding-y: 0;
        --bs-dropdown-bg: var(--bs-white);
        --bs-dropdown-border-width: 0;
        --bs-dropdown-font-size: .875rem;
        --bs-dropdown-link-active-bg: var(--color-brand);
    }

    [data-bs-theme=dark] .dropdown-menu {
        --bs-dropdown-bg: var(--bs-dark);
    }

    .dropdown-item {
        --bs-dropdown-item-padding-y: 1rem;
        --bs-dropdown-item-padding-x: 1.5rem;
    }

    .dropdown-divider {
        --bs-dropdown-divider-margin-y: 0;
    }

    .dropdown-toggle::after {
        border: 0; /* reset default arrow */
        background-image: url('../img/arrow-light.svg');
        background-size: .5rem;
        width: .5rem;
        height: .5rem;
        transform: translate(0, .125rem);
    }

    [data-bs-theme=dark] .dropdown-toggle::after {
        background-image: url('../img/arrow-dark.svg');
    }

    .nav-link {
        --bs-nav-link-font-size: .875rem;
        --bs-nav-link-font-weight: 500;
        --bs-nav-link-padding-x: 1.5rem;
        --bs-navbar-nav-link-padding-x: 1rem;

        &:hover {
            background: var(--bs-gray-300);
        }
    }

    [data-bs-theme=dark] .nav-link:hover {
        background: var(--bs-gray-900);
    }

    .navbar-brand {
        font-weight: 900;
        letter-spacing: -.0625rem;
        text-transform: uppercase;
    }
}